<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>To Do List</title>
</head>
<body>
  <% if(day === "Sunday" || day === "Saturday"){%>
    <h1 style="color: magenta"><%=day%> List!</h1>
  <%}else{%>
  <h1 style="color: darkblue"><%=day%> List!</h1>
  <%}%>

  <ul>
    <% for(i = 0; i < newItems.length; i++){ %>
      <li><%=newItems[i]%></li>
    <%}%>
  </ul>
  <form action="/" method="post">
    <input id="newItem" name="newItem" type="text">
    <button type="submit" name="button">Add</button>
  </form>
</body>
</html>